= form_for @abstract_post do |f|
  - if @abstract_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@abstract_post.errors.count, "error")} prohibited this abstract_post from being saved:"
      %ul
        - @abstract_post.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
